.mainContainer{
    background-color: #FFFFFF;
    height: 93vh;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    
}
.logo{
    width: 200px;
    height: 35px;
}

.aboutInfo{
    text-align: center;
    justify-content: center;
}

#aboutInfo{
    align-content: center;
    justify-content: center;
}

.COVIDPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

table{
    color: Black;
    border-collapse: collapse;
    border-radius: 1em;
}

th {
    background-color: #BCB9B9;
}

table, th, td{
    border: 1px solid Black;
}

th, td{
    padding: 10px;
}

.navBar{
    background-color: #E0E0E0;
    border-bottom: 1px solid black;
}

.provinceDropdown > *{
    color: #8D8D8D;
}

.provinceDropdown a:hover{
    color: black;
}

.provinceDropdown a:active{
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: #8D8D8D;
}

.btn-outline-primary {
    color: red;
    border-color: red;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: red;
    border-color: red;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem #770712;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: red;
    border-color: red;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
    color: black;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(223, 94, 94);
    outline: 0;
    box-shadow: 0 0 0 0.1rem red;
}

.sideBar{
    float: left;
    width: 40%;
    height: 95%;
    background-color: #E0E0E0;
    position: relative;
    border-right: 1px solid black;
}

.twitterLabel, .infoTitle{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.infoContainer{
    min-width: 80%;
    height: 95%;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 25px;
    padding-right: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #770000; 
  }

.mainInfo{
    overflow: auto;
    margin: auto;
    width: 90%;
    height: 80%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 30px;
    background-color: #E0E0E0;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}

.chart{
    margin: 0 auto;
    padding: 15px;
    margin: 5px auto;
}

.footer{
    
	position: absolute;
    bottom: 0;
	height: 75px;
    width: 100%;
    color: white;
    background-color: black;
    text-align: right;
    padding-top: 10px;
}
.cp{
    padding-right: 15px;
}